@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;700;900&display=swap');

.bg-main {
    border: 0px;
    background-color: hsla(0, 100%, 50%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

@layer base {
    html {
        font-family: 'Inter'
    }

    /* h1,
    h2,
    h3 {
        font-family: 'Staatliches'
    } */
}

.bg-primary {
    background: #696df6;
}

.bg-primary-light {
    background: #aaadf9;
}

.bg-primary-dark {
    background: #2c31ad;
}

.bg-secondary {
    background: #cc70d8;
}

.bg-third {
    background: #FFA500;
}

.bg-third-light {
    background: #f7cc7e;
}

.bg-third-dark {
    background: #cd8602;
}

.text-primary {
    color: #696df6
}

.text-primary-dark {
    color: #2c31ad
}

.text-secondary {
    color: #cc70d8
}

.text-secondary-light {
    color: #e9a8f0
}

.bg-secondary-light {
    background: #e9a8f0
}

.bg-secondary-dark {
    background: #71147b
}

.text-secondary-dark {
    color: #71147b
}

.text-third {
    color: #FFA500
}

.text-third-light {
    color: #eabf70;
}

.text-third-dark {
    color: #e49606;
}


.bg-main {
    background-color: #F4F4F4;
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}